{{!-- Facebook --}}
{{#if @site.facebook}}
  <a href="{{facebook_url}}" class="{{item_class}} facebook" aria-label="Facebook">{{>icon name="facebook" icon_class=icon_class}}<span class="{{text_class}}">Facebook</span></a>
{{/if}}

{{!-- Twitter --}}
{{#if @site.twitter}}
  <a href="{{twitter_url}}" class="{{item_class}} twitter" aria-label="Twitter">{{>icon name="twitter-x" icon_class=icon_class}}<span class="{{text_class}}">Twitter</span></a>
{{/if}}

{{!-- RSS --}}
<a href="{{@site.url}}/jobs/rss" class="{{item_class}} rss" aria-label="RSS">{{>icon name="rss" icon_class=icon_class}}<span class="{{text_class}}">RSS</span></a>

{{!-- Linkedin --}}
{{!-- <a href="" class="{{item_class}} linkedin" aria-label="Discord">{{>icon name="linkedin" icon_class=icon_class}}<span class="{{text_class}}">Linkedin</span></a> --}}

{{!-- Discord --}}
{{!-- <a href="" class="{{item_class}} discord" aria-label="Discord">{{>icon name="discord" icon_class=icon_class}}<span class="{{text_class}}">Discord</span></a> --}}

{{!-- Github --}}
{{!-- <a href="" class="{{item_class}} github" aria-label="Github">{{>icon name="github" icon_class=icon_class}}<span class="{{text_class}}">Github</span></a> --}}

{{!-- Instagram --}}
{{!-- <a href="" class="{{item_class}} instagram" aria-label="Instagram">{{>icon name="instagram" icon_class=icon_class}}<span class="{{text_class}}">Instagram</span></a> --}}

{{!-- Pinterest --}}
{{!-- <a href="" class="{{item_class}} pinterest" aria-label="Pinterest">{{>icon name="pinterest" icon_class=icon_class}}<span class="{{text_class}}">Pinterest</span></a> --}}

{{!-- Reddit --}}
{{!-- <a href="" class="{{item_class}} reddit" aria-label="Reddit">{{>icon name="reddit" icon_class=icon_class}}<span class="{{text_class}}">Reddit</span></a> --}}

{{!-- Telegram --}}
{{!-- <a href="" class="{{item_class}} telegram" aria-label="Telegram">{{>icon name="telegram" icon_class=icon_class}}<span class="{{text_class}}">Telegram</span></a> --}}

{{!-- Tiktok --}}
{{!-- <a href="" class="{{item_class}} tiktok" aria-label="Tiktok">{{>icon name="tiktok" icon_class=icon_class}}<span class="{{text_class}}">Tiktok</span></a> --}}

{{!-- Whatsapp --}}
{{!-- <a href="" class="{{item_class}} whatsapp" aria-label="Whatsapp">{{>icon name="whatsapp" icon_class=icon_class}}<span class="{{text_class}}">Whatsapp</span></a> --}}

{{!-- Youtube --}}
{{!-- <a href="" class="{{item_class}} youtube" aria-label="Youtube">{{>icon name="youtube" icon_class=icon_class}}<span class="{{text_class}}">Youtube</span></a> --}}
